
.recipeList{
    width: 70%;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
}
.recipeBox{
    width: 30%;
    cursor: pointer;
    min-width: 150px;
    margin: 10px;
    border-radius: 5px;
    height: 350px;
    background-color: azure;
    box-shadow:  8px 5px 5px #888888;
    img{
        border-top-left-radius:5px;
        border-top-right-radius: 5px;
        width: 100%;
        height: 50%;
    }
    h4{
        margin: 10px 15px;
        font-size: 18px;
        font-weight: 800;
    }
    p{
        color: var(--text-light);
        margin: 5px 15px;
        font-size: 15px;
    }
    
}
@media(max-width:'900px'){
    .recipeBox{
        width: 45%;
    }
}
@media(max-width:'564px'){
    .recipeBox{
        width: 90%;
        min-width: 250px;
    }
}